body {
    background-color: #394244;
    font-family: 'Lato', sans-serif;
    color: #373545;
}

.underline {
    text-decoration: underline;
}

.mainTitle{
    margin-top: 80px;
    text-align: center;
    font-size: 35px;
}

.icon{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}