body {
    background-color: #394244;
    font-family: 'Lato', sans-serif;
    color: #373545;
}

.underline {
    text-decoration: underline;
}

.mainTitle{
    margin-top: 3%;
    text-align: center;
    font-size: 35px;
}

.icon{
    width: 19px;
    height: 19px;
    margin-right: 8px;
}

.backLink{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 70px;
    background-color: #5F5F5F;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
}

#back{
    margin-top: 20px;
    margin-left: 5px;
}