.info-box{
    background-image: url("images/backgroundLogin.svg");
    background-size: cover;
    filter: brightness(1.5);
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    overflow: scroll;
}

.info-box-content{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.createExperimentInput, .descriptionTextArea {
    border: none;
    color: #3A384A;
    background-color: rgba(255, 255, 255, 0.1);
    width: 450px;
    height: 40px;
    font-size: 18px;
}

input::placeholder{
    color: black !important;
}

.descriptionTextArea{
    overflow: scroll;
    height: 160px;
    resize: none;
}

.selects {
    color: #3A384A;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    width: 455px;
    height: 40px;
    font-size: 18px;
}

.submitButton{
    color: white;
    background-color: #374042;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5px;
    float: right;
    margin-right: 4.5%;
    margin-bottom: 5%;
    font-size: 18px;
}

.submitButton:hover{
    cursor: pointer;
}

.backLink{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 70px;
    background-color: #5F5F5F;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
}

#back{
    margin-top: 20px;
    margin-left: 5px;
}
