.info-box{
    background-image: url("images/backgroundLogin.svg");
    background-size: cover;
    filter: brightness(1.5);
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    overflow: scroll;
}

.info-box-content{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.select{
    color: #3A384A;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    width: 455px;
    height: 50px;
    font-size: 18px;
}

.submitButton{
    color: white;
    background-color: #374042;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    justify-content: center;
}